GJALLARHORN_NAME=Your Name Here
GJALLARHORN_STARTGG=[Your API Key here]
GJALLARHORN_CM_REFRESH_KEY=[Your refresh key here]
GJALLARHORN_PORT=55213
GJALLARHORN_HOST=http://localhost:3000
GJALLARHORN_OUTPUT=output
